{% extends "admin/layout.njk" %}
{% block content %}
    <div class="wrapper">
        <h1>Lista de Produtos</h1>
        <a class="btn-newprooduct" href="/admin/products/new">
            Novo produto
        </a>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>DESIGNAÇÃO</th>
                    <th>CATEGORIA</th>
                    <th>P/ ANTIGO</th>
                    <th>P/ ATUAL</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for data in datas %}
                    <tr>
                        <th>{{ data.id }}</th>
                        <th>{{ data.designacao }}</th>
                        <th>{{ data.categoria }}</th>
                        <th>{{ data.antigo }}</th>
                        <th>{{ data.novo }}</th>
                        <th>
                            <a href="/admin/products/edit/{{ data.id }}">
                                <img src="/assets/update.png" alt="Icone do botão de update"></a>
                            </th>
                            <th>
                                <form action="/admin/products/delete/{{ data.id }}" method="post" class="form-delete">
                                    <button type="submit">
                                        <img src="/assets/delete.png" alt="Icone do botão de delete"></button>
                                    </form>
                                </th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock %}
    </tbody>