{%extends "admin/layout.njk"%}
{%block content%}
<div class="card-products">
    <div class="card-head">
        <h2>Cadastrar produto</h2>
    </div>
    <form action="/admin/products/save" method="post">
        <label for="">
            Designação <input type="text" name="designacao" placeholder="Insira o nome do produto">
        </label>
        <label for="">Categoria 
            <select name="categoria_id">
                {%for category in categories%}
                <option value="{{category.id}}" >{{category.designacao}}</option>
                {%endfor%}
            </select>
        </label>
        <div class="group">
            <input type="number" name="antigo" placeholder="Preço Antigo">
            <input type="number" name="atual" placeholder="Preço Atual">
        </div>
        <label for="descricao">Descrição</label>
        <textarea name="descricao" id="descricao" cols="30" rows="10"></textarea>
        <label for="">Imagens</label>
        <div class="group file">
            <input type="file" name="imagem">
        </div>
        <div class="card-footer">
            <button type="submit">Cadastrar</button>
        </div>
    </form>
</div>
{%endblock%}