{%extends "layout.njk"%}
{%block header%}
<header>
    <h1>A todo nível</h1>
</header>
<nav>
    <a href="">Acessórios</a>
    <a href="">Alimentação</a>
    <a href="">Eletrónicos</a>
    <a href="">Farmacos</a>
</nav>
{%endblock%}
{%block content%}
<div class="wrapper">
    <h2>Produtos</h2>
    <div class="cards">
        <div class="card">
            <div class="card_image">
                <img src="/assets/Picture.jpg" alt="">
            </div>
            <div class="card_body">
                <h3>Fogão</h3>
                <p>Fogão eletrico de 5 bocas</p>
                <div class="card__info">
                    <p class="price">
                        <span class="before">
                            <b>Antes:</b>
                            <s>$1000</s>
                        </span>
                        <span class="now">
                            <b>Agora:</b>
                            $500</span>
                    </p>
                    <button>
                        Detalhes
                    </button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card_image">
                <img src="/assets/banner.jpg" alt="">
            </div>
            <div class="card_body">
                <h3>Camisola polo</h3>
                <p>Camisola polo branca</p>
                <div class="card__info">
                    <p class="price">
                        <span class="before">
                            <b>Antes:</b>
                            <s>1000kz</s>
                        </span>
                        <span class="now">
                            <b>Agora:</b>
                            500kz</span>
                    </p>
                    <button>
                        Detalhes
                    </button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card_image">
                <img src="/assets/banner.jpg" alt="">
            </div>
            <div class="card_body">
                <h3>Camisola polo</h3>
                <p>Camisola polo branca</p>
                <div class="card__info">
                    <p class="price">
                        <span class="before">
                            <b>Antes:</b>
                            <s>1000kz</s>
                        </span>
                        <span class="now">
                            <b>Agora:</b>
                            500kz</span>
                    </p>
                    <button>
                        Detalhes
                    </button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card_image">
                <img src="/assets/banner.jpg" alt="">
            </div>
            <div class="card_body">
                <h3>Camisola polo</h3>
                <p>Camisola polo branca</p>
                <div class="card__info">
                    <p class="price">
                        <span class="before">
                            <b>Antes:</b>
                            <s>1000kz</s>
                        </span>
                        <span class="now">
                            <b>Agora:</b>
                            500kz</span>
                    </p>
                    <button>
                        Detalhes
                    </button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card_image">
                <img src="/assets/banner.jpg" alt="">
            </div>
            <div class="card_body">
                <h3>Camisola polo</h3>
                <p>Camisola polo branca</p>
                <div class="card__info">
                    <p class="price">
                        <span class="before">
                            <b>Antes:</b>
                            <s>1000kz</s>
                        </span>
                        <span class="now">
                            <b>Agora:</b>
                            500kz</span>
                    </p>
                    <button>
                        Detalhes
                    </button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card_image">
                <img src="/assets/banner.jpg" alt="">
            </div>
            <div class="card_body">
                <h3>Camisola polo</h3>
                <p>Camisola polo branca</p>
                <div class="card__info">
                    <p class="price">
                        <span class="before">
                            <b>Antes:</b>
                            <s>1000kz</s>
                        </span>
                        <span class="now">
                            <b>Agora:</b>
                            500kz</span>
                    </p>
                    <button>
                        Detalhes
                    </button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card_image">
                <img src="/assets/banner.jpg" alt="">
            </div>
            <div class="card_body">
                <h3>Camisola polo</h3>
                <p>Camisola polo branca</p>
                <div class="card__info">
                    <p class="price">
                        <span class="before">
                            <b>Antes:</b>
                            <s>1000kz</s>
                        </span>
                        <span class="now">
                            <b>Agora:</b>
                            500kz</span>
                    </p>
                    <button>
                        Detalhes
                    </button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card_image">
                <img src="/assets/banner.jpg" alt="">
            </div>
            <div class="card_body">
                <h3>Camisola polo</h3>
                <p>Camisola polo branca</p>
                <div class="card__info">
                    <p class="price">
                        <span class="before">
                            <b>Antes:</b>
                            <s>1000kz</s>
                        </span>
                        <span class="now">
                            <b>Agora:</b>
                            500kz</span>
                    </p>
                    <button>
                        Detalhes
                    </button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card_image">
                <img src="/assets/banner.jpg" alt="">
            </div>
            <div class="card_body">
                <h3>Camisola polo</h3>
                <p>Camisola polo branca</p>
                <div class="card__info">
                    <p class="price">
                        <span class="before">
                            <b>Antes:</b>
                            <s>1000kz</s>
                        </span>
                        <span class="now">
                            <b>Agora:</b>
                            500kz</span>
                    </p>
                    <button>
                        Detalhes
                    </button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card_image">
                <img src="/assets/banner.jpg" alt="">
            </div>
            <div class="card_body">
                <h3>Camisola polo</h3>
                <p>Camisola polo branca</p>
                <div class="card__info">
                    <p class="price">
                        <span class="before">
                            <b>Antes:</b>
                            <s>1000kz</s>
                        </span>
                        <span class="now">
                            <b>Agora:</b>
                            500kz</span>
                    </p>
                    <button>
                        Detalhes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}