{% extends "layout.njk" %}
{% block header %}
    <header>
        <h1>A todo nível</h1>
        <div class="links">
            <a style="color:white" href="mailto:filipesissala14@gmail.com">
                filipesissala14@gmail.com
            </a><br>
            <a style="color:white" href="tel:+244946642126">
                +244 946642126
            </a>
        </div>
    </header>
    <nav>
        <a href="/">Todos</a>
        {% for categorie in categories %}
            <a href="{{ categorie.slug }}">{{ categorie.designacao }}</a>
        {% endfor %}
    </nav>
{% endblock %}
{% block content %}
    <div class="wrapper">
        <h2>Produtos</h2>
        <div class="cards">
            {% for data in datas %}
                <div class="card">
                    <div class="card_image">
                        <img src="{{ data.imagem }}" alt=""></div>
                        <div class="card_body">
                            <h3>{{ data.designacao }}</h3>
                            <div class="card__info">
                                <p class="price">
                                    <span class="before">
                                        <b>Antes:</b>
                                        <s>{{ data.antigo }}Kzs</s>
                                    </span>
                                    <span class="now">
                                        <b>Agora:</b>
                                        {{ data.novo }}Kzs</span>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endblock %}