<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <title>A todo nível</title>
    </head>
    <body>
        {%block header%}
        {%endblock%}
        {%block content%}
        {%endblock%}
        <a href="https://wa.me/+244946642126?text=Olá tudo bem?" class="whatsapp-link" target="_blank">
        <i class="fa fa-whatsapp"></i></a>
        <footer>
            Todos os direitos reservados
        </footer>
    </body>
</html>