{% extends "admin/layout.njk" %}
{% block content %}
    <div class="wrapper">
        <h1>Lista de Categorias</h1>
        <a class="btn-newprooduct" href="/admin/categories/new">
            Nova categoria
        </a>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>DESIGNAÇÃO</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for data in datas %}
                    <tr>
                        <th>{{ data.id }}</th>
                        <th>{{ data.designacao }}</th>
                        <th>
                            <a href="/admin/category/edit/{{ data.id }}">
                                <img src="/assets/update.png" alt="Icone do botão de update"></a>
                            </th>
                            <th>
                                <form action="/admin/category/delete/{{ data.id }}" method="post">
                                    <button>
                                        <img src="/assets/delete.png" alt="Icone do botão de delete"></button>
                                    </form>
                                </th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock %}